.mapContainer {
  height: 700px;
  width: 1000px;
  margin: 10px 10px;
  display: flex;
  align-self: center;
}

.treeContainer {
  width: 700px;
  padding-bottom: 10px;
}

.chartContainer {
  width: 700px;
  height: 400px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  background-color: azure;
  margin-left: 10px;
}

.displayContainer {
  display: flex;
  flex-direction: row;
}

.floatDown {
  display: flex;
  flex-direction: column;
}
