html,
body,
.App,
#root {
  width: 100%;
  height: 100%;
}

* {
	box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App-header {
  background-color: #222;
  height: 125px;
  padding: 20px;
  color: white;
}